
@media (max-width:425px)
{
ol{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
    list-style-type:none;
    
}
}
@media (min-width:500px)
{
ol{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: auto;
    list-style-type: none;
    padding: 20px;
    background-color: rgb(126, 131, 155);
    color: white;
    filter: drop-shadow(0px 0px 5px rgb(252, 252, 252));
    font-size: large;
    position: fixed;
    width: 100%;
    
    margin: auto;
}
 .navlink
 {
    text-decoration: none;
    color: inherit; 
 }

 .home
 {
    height: 1000px;
    color: white;
    margin: 0px;
    background-color: black;
    background-position: center;
    margin-bottom: -20px;
    
 }

.Foot
{
    
    height: 300px;
    background-color: rgb(126, 131, 155);
    filter: drop-shadow(10px 10px 20px rgb(252, 252, 252));
    border-radius: 10px;
    margin-bottom: -10px;

}
}
